.firstChart {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.firstChartTitle {
  margin-bottom: 20px;
}

.secondChart {
  padding: 20px;
  padding-bottom: 60px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  width: 30%;
}

.secondChartTitle {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
}
